<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>等待动画等待动画等待动画等待动画等待动画等待动画等待动画</string>
		<key>date</key>
		<string>111111</string>
		<key>thumbnail_pic_s</key>
		<string></string>
		<key>thumbnail_pic_s02</key>
		<string></string>
		<key>thumbnail_pic_s03</key>
		<string></string>
		<key>identifier</key>
		<string></string>
	</dict>
</array>
</plist>
